footer{
    background-color: rgb(20, 20, 20);
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer-box{
    position: relative;
}
.footer-box p{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 50%;
    transform: translate(-50%, 50%);
    color: #faebd7;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
}