table tr td {
    width: 100px;
    padding: 10px;
    border: 1px solid #000;
}
table {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    margin-top: 50px; 
}